[Unit]
Description=calicoctl node
After=docker.service
Requires=docker.service

[Service]
User=root
EnvironmentFile=/etc/cni/calico-env
#Environment=ETCD_AUTHORITY=<ETCD_IP>:<ETCD_PORT>
PermissionsStartOnly=true
ExecStartPre=/usr/bin/wget -N -P /usr/bin http://www.projectcalico.org/builds/calicoctl
ExecStartPre=/bin/chmod +x /usr/bin/calicoctl
ExecStart=/usr/bin/calicoctl node --detach=false
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
